<header class="bg-purple-300 text-black p-4 flex items-center justify-between">
  <div class="flex items-center">
    <img src="/assets/logo.png" alt="Logo" class="h-10 mr-3"> 
    <h1 class="text-xl font-bold">Aiko Ocampo</h1>
  </div>
  <nav>
    <ul class="flex space-x-6">
      <li><a routerLink="/" class="hover:text-pink-500">Home</a></li>
      <li><a routerLink="/about" class="hover:text-pink-500">About</a></li>
      <li><a routerLink="/projects" class="hover:text-pink-500">Projects</a></li>
      <li><a routerLink="/contact" class="hover:text-pink-500">Contact</a></li>
    </ul>
  </nav>
</header>


<main class="min-h-screen">
  <router-outlet></router-outlet>
</main>

<footer class="bg-gray-900 text-white text-center py-6">
  <div class="container mx-auto">
    <p class="text-lg">© 2025 Aiko Ocampo | Web Developer</p>
    
    <div class="mt-4 flex justify-center space-x-4">
      <a href="https://www.facebook.com/share/18YwBJT8PX/" target="_blank" class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-800">
        Facebook
      </a>
      <a href="https://www.linkedin.com/in/aiko-ocampo-860248329/" target="_blank" class="bg-blue-700 text-white px-6 py-2 rounded-lg hover:bg-blue-900">
        LinkedIn
      </a>
      <a href="/assets/resume.pdf" target="_blank" class="bg-purple-600 text-white px-6 py-2 rounded-lg hover:bg-purple-800">
        Download Resume
      </a>
    </div>
  </div>
</footer>
